* {box-sizing: border-box;}
:root {
    --colors: #04c1e2;
    --secondary:#ffffff;
    --danger:#CC2634;
    --font :'El Messiri', sans-serif;
  }

body { 
  margin: 0;
  font-family: var(--font);
}

.header {
  overflow: hidden;
  background-color: var(--colors);
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


.header-right {
  float: right;
}



.material-symbols-outlined {
  font-variation-settings:
      'FILL'0,
      'wght'400,
      'GRAD'0,
      'opsz'48
}

.material-symbols-outlined.fill {
  font-variation-settings:
      'FILL'1,
      'wght'400,
      'GRAD'0,
      'opsz'48
}

.flex-container {
  display: flex;
  background-color: var(--secondary);
}

.flex-container > div {
  color: black;
  width: 50px;
  margin: 4px;
  text-align: right;
  line-height: 30px;
  font-size: 20px;
}

